@model InventorySystemApplication.Models.WarehouseProduct

@{
    ViewData["Title"] = "Create";
    var prod = ViewBag.Products as List<Product>;
    var war = ViewBag.Warehouses as List<Warehouse>;
}

<h1>Create</h1>

<h4>WarehouseProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product_Id" class="control-label"></label>
                <select asp-for="Product_Id" class="form-control">
                <option value="">Select a Product</option>
                @if(prod != null){
                    @foreach(var product in prod){
                        <option value="@product.Id">@product.Product_Name</option>
                    }
                }
                </select>
                <span asp-validation-for="Product_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warehouse_Id" class="control-label"></label>
                <select asp-for="Warehouse_Id" class="form-control">
                <option value="">Select a Warehouse</option>
                @if(war != null){
                    @foreach(var warehouse in war){
                        <option value="@warehouse.Id">@warehouse.Name</option>
                    }
                }
                </select>
                <span asp-validation-for="Warehouse_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
