@model InventorySystemApplication.Models.WarehouseProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Change Product Mapping Details</h1>

<div>
    <h4>Warehouse Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-danger">Edit</a> |
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
