@model IEnumerable<InventorySystemApplication.VMs.UserProductVM>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Manufacturing Date
            </th>
            <th>
                Expiry Date
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var obj in Model) {
        <tr>
            <td>
                @obj.Products.Product_Name
            </td>
            <td>
                @obj.Products.Manufacturing_Date
            </td>
            <td>
               @obj.Products.Expiry_Date
            </td>
        </tr>
        }

    </tbody>
</table>
