@model InventorySystemApplication.Models.User

@{
    ViewData["Title"] = "Create User";
    var war = ViewBag.Warehouses as List<Warehouse>;
}

<h1>Create New User</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User_Name" class="control-label">User Name</label>
                <input asp-for="User_Name" class="form-control" />
                <span asp-validation-for="User_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Email" class="control-label">Email</label>
                <input asp-for="User_Email" class="form-control" />
                <span asp-validation-for="User_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Telephone" class="control-label">Telephone Number</label>
                <input asp-for="User_Telephone" class="form-control" />
                <span asp-validation-for="User_Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warehouse_Id" class="control-label">Warehouse</label>
                <select asp-for="Warehouse_Id" class="form-control" >
                <option value="">Select a Warehouse</option>
                @if(war != null)
                {
                    @foreach(var warehouse in war)
                    {
                        <option value="@warehouse.Id">@warehouse.Name</option>
                    }
                }
                </select>
                <span asp-validation-for="Warehouse_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
