@model InventorySystemApplication.Models.SystemUser
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mt-5">
                <h3>Login</h3>
            </div>
            <div class="form-group">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {

                    if (ViewBag.LoginStatus != null)
                    {
                        if (ViewBag.LoginStatus == 0)
                        {
                                        <div class="alert alert-danger">Invalid login details</div>
                        }
                    }
                        <div class="form-group">

                    <label asp-for="User_Name" class="control-label">User Name</label>
                    <input asp-for="User_Name" class="form-control" />
                    <span asp-validation-for="User_Name" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Password</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div><br>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary">
                        </div>
                }
            </div>
        </div>
    </div>
</div>
